.meny-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
}

.meny {
    background-color: #F3E4E1;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    flex-direction: column;
    
}

.increment-icon {
    font-size: 50px;
}

